<!DOCTYPE html>
<html>
<head>
    <title>Relatório Gerado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/relatorio_style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Relatório Gerado com Sucesso</h1>
        <p>O relatório foi gerado com base nos filtros selecionados.</p>

        <h2>Opções:</h2>
        <ul class="no-bullets">
            <li><a href="/download-relatorio" class="button">Download Relatório</a></li>
            <li><a href="/email-form" class="button">Enviar Relatório por Email</a></li>
        </ul>
    </div>
    <script src="{{ url_for('static', filename='js/relatorio_script.js') }}"></script>
</body>
</html>